body{
	font-family: 'open-sans', 'arial', sans-serif;
	background-image: url(../img/texture.jpg);
	background-attachment: fixed;
	max-width: 960px;
	margin: 0 auto;
}

/*Mobile header styling begin.*/
header{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
}

#simple-menu{
	float: left;
}

#reg-login ul{
	list-style: none;
	float: right;
	margin: 0;
}

#reg-login ul li{
	display: inline-block;
	text-align: center;
}

#reg-login li a{
	display: inline-block;
	width: 85px;
	color: #0c0c0c;
	background-color: #ff6600;
	text-decoration: none;
	font-weight: bold;
	padding: 2px 0 4px 0;
	border-radius: 2px;
}

#logo-container{
	clear: both;
	margin: 0 20px 0 5px;
	padding: 30px 0 10px 0;
	max-width: 400px;
}

/*Mobile header styling end.*/

article{
}

.row-one{
	background-color: #fffde7;
	padding-left: 0;
}

.row-one p{
	padding: 0 20px;
}

h2, h3{
	padding-top: 20px;
	padding-left: 10px;
	margin: 0;
}

h3{
	margin: 0 0 15px 15px;
}

.row-one, .line-container{
	position: relative;
}

.svg-container{
	position: absolute;
}

.svg-content{
	width: 100%;
	height: 4px;
}

line{
	stroke: rgb(255,102,0);
	stroke-width: 4;
}

.under-line{
	clear: both;
}

.first-right-svg,
.left-svg,
.second-right-svg,
.second-left-svg,
.third-right-svg,
.fourth-right-svg{
	top: 23px;
	right: 0;
}

.left-svg,
.second-left-svg{
	left: 0px;
}

.left-svg .svg-content,
.second-left-svg .svg-content{
	width: 17px;
}

.left-svg line,
.second-left-svg line{
	stroke-width: 25;
}

.first-right-svg{
	left: 181px;
}

.second-right-svg{
	left: 173px;
}

.second-left-svg{
	left: -10px;
	width: 17px;
}

.third-right-svg{
	left: 112px;
}

.fourth-right-svg{
	left: 160px;
}

.fifth-svg{

}

h2{
	float: left;
}

.row-one, .row-two{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	width: 100%;
	padding: 0 10px 10px 10px;
}

.row-two p, span{
	color: #fff;
}

.row-two .quote{
	font-size: 1.3em;
}

.row-two span{
	float: right;
	text-align: right;
	padding-right: 10px;
}

select{
	margin: 20px 20px;
}

#map-canvas{
	background-color: #eee;
	height: 400px;
	width: 80%;
	margin: 0 auto;
	border: 5px solid #0F0F0F;
	border-radius: 10px;
	margin-bottom: 10px;
}

.image-container{
	text-align: center;
}

.shadow1{
	box-shadow: 0px 0px 10px 3px #0F0F0F;
}

.apparel-link{
	color: #ff6600;
	padding: 0 20px 5px 20px;
	display: block;
}

/*form styling begins*/

form{
	padding-left: 20px;
}

label{
	display: block;
	padding: 8px 0 2px 0;
}

input{
	width: 250px;
	border: 1px solid #0c0c0c;
	border-radius: 2px;
}

button{
	margin: 20px 0 10px 0;
	width: 85px;
	color: #0c0c0c;
	background-color: #ff6600;
	font-weight: bold;
	padding: 2px 0 4px 0;
	border: none;
	border-radius: 2px;
}

button:hover{
	cursor: pointer;
	box-shadow: 0px 0px 5px 3px #0F0F0F;
	color: #ff6600;
	background-color: #0c0c0c;
}

/*form styling ends*/

footer ul{
	list-style: none;
	padding: 0;
	text-align: center;
	margin-bottom: 0;
}

footer li{
	display: inline-block;
	width: 30%;
	margin-bottom: 10px;
}

footer li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

footer p{
	text-align: center;
}

#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}

.chartWrapper {
  margin: 15px auto;
  width: 600px;
  height: 200px;
  text-align: center;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

@media all and (min-width: 750px){

}

